.announcementBar {
  display: flex;
  align-items: center;
  height: auto;
  font-weight: 700;
  border-bottom: 1px solid var(--color-emphasis-100);
}

html[data-announcement-bar-initially-dismissed='true'] .announcementBar {
  display: none;
}

.announcementBarPlaceholder {
  flex: 0 0 10px;
}

.announcementBarClose {
  flex: 0 0 30px;
  align-self: stretch;
  padding: 0 !important;
  line-height: 0 !important;
}

.announcementBarContent {
  flex: 1 1 auto;
  font-size: 85%;
  text-align: center;
  padding: 5px 0;
}

@media print {
  .announcementBar {
    display: none;
  }
}

.announcementBarContent a {
  color: inherit;
  text-decoration: underline;
}

@media (min-width: 997px) {
  :root {
    .announcementBar {
      height: 30px;
    }
  }

  .announcementBarPlaceholder,
  .announcementBarClose {
    flex-basis: 50px;
  }
}
